.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

@media screen and (max-width: 900px) {
  .post-list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .post-list {
    grid-template-columns: 1fr;
  }
}
