.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

@media screen and (max-width: 800px) {
  .post-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .post-list {
    grid-template-columns: 1fr;
  }
}
