.login-btn {
  cursor: pointer;
  width: 107px;
  height: 40px;
  background-color: #f9f9f9;
  color: #28303f;
  border: none;
  border-radius: 6.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.login-btn:active {
  box-shadow: rgb(55, 160, 236) 0 0 2px 1px;
}

.login-btn img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.login-btn span {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .login-btn {
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  .login-btn img {
    margin-left: 8px;
  }

  .login-btn span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
}
