.like-btn {
    border: 1px solid #f37c4b;
    border-radius: 6.4px;
    width: 120px;
    height: 40px;
    background: url(../../assets/icon-like.svg) no-repeat 25px;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
    text-align: right;
    padding-right: 30px;
}

.like-btn:hover {
    background: #f37c4b url(../../assets/icon-like-white.svg) no-repeat 25px;
    color: #fff;
}

.like-btn:active {
    background: url(../../assets/icon-like.svg) no-repeat 25px;
    color: #111;
    box-shadow: #f37c4b 0 0 3px 1px;
}
