.logout-btn {
  cursor: pointer;
  width: 107px;
  height: 40px;
  background-color: #fff;
  color: #28303f;
  border: none;
  border-radius: 6.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.logout-btn:active {
  box-shadow: rgb(55, 160, 236) 0 0 2px 1px;
}

.logout-btn img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  padding-bottom: 3px;
}

.logout-btn span {
  font-size: 16px;
  font-weight: bold;
}
