.category-btn {
  cursor: pointer;
  background-color: #f5f5f5;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  padding: 3px 12px;
  margin-right: 4px;
}

.category-btn:active {
  box-shadow: rgb(55, 160, 236) 0 0 2px 1px;
}

.category-btn.blue {
  color: #37aaec;
}

.category-btn.grey {
  color: #6f6f6f;
}
